.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"].itemInput {
  width: calc(100% - 22px); /* 좌우 패딩을 고려하여 너비 조정 */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.addButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.addButton:hover {
  background-color: #45a049;
}

.todoItem {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todoText {
  margin-left: 20px;
  flex-grow: 1;
  color: #333;
}

.todoItem.completed .todoText {
  text-decoration: line-through;
  color: #888;
}

.todoItem.completed button.completeButton {
  background-color: #ccc;
  color: #333;
  border: 1px solid #ccc;
}

.completeButton {
  padding: 10px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.completeButton:hover {
  background-color: #0056b3;
}
